body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation */
nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Main content */
main {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


.c-item{
    height:400px;
    width:100%;
}

.c-img{
    height:100%;
    object-fit:cover;

}

.container-outer {
    border: 1px solid black;
    width: 100%;
    float:left;
}


.footer-list {
    list-style: none;
    display: inline-block;
    padding: 0;
}


/* Form styling  */

/* Styling for form labels */
.col-form-label {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Styling for button */
.mb-2 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

/* Styling for rating section */
 #rating{
    color: #4F5153;
}

/* Styling for review section */
#review {
    resize: none;
}

